<?xml version="1.0"?>
<rss xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle" xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0">
  <channel>
    <title><%= channel.name %></title>
    <link><%= executable_asset.url %></link>
    <description>Software updates for <%= channel.name %></description>
    <language>en</language>
    <item>
      <title>Version <%= version %></title>
      <sparkle:releaseNotesLink><%= notes_asset.url %></sparkle:releaseNotesLink>
      <description>
        <![CDATA[
          <%= notes %>
        ]]>
      </description>
      <pubDate><%= published_at.strftime("%a, %d %b %Y %H:%M:%S %z") %></pubDate>
      <enclosure url="<%= executable_asset.url %>" sparkle:version="<%= version %>" sparkle:shortVersionString="<%= version %>" length="<%= FileTest.size executable.path %>" type="application/octet-stream" />
      <sparkle:releaseNotesLink><%= notes %></sparkle:releaseNotesLink>
    </item>
  </channel>
</rss>
